{% if pagination.pages is not empty %}
	<nav>
		<ul>
			{% if (pagination.pages|first) and pagination.pages|first.current != true %}
				<li><a href="{{ pagination.pages|first.link }}">{{ __('First', 'starter-theme') }}</a></li>
			{% else %}
				<li><button disabled>{{ __('First', 'starter-theme') }}</button></li>
			{% endif %}

			{% if pagination.prev %}
				<li><a href="{{ pagination.prev.link }}">{{ __('Previous', 'starter-theme') }}</a></li>
			{% else %}
				<li><button disabled>{{ __('Previous', 'starter-theme') }}</button></li>
			{% endif %}

			{% for page in pagination.pages %}
				{% if page.link %}
					<li><a href="{{ page.link }}">{{ page.title }}</a></li>
				{% else %}
					<li><span>{{ page.title }}</span></li>
				{% endif %}
			{% endfor %}

			{% if pagination.next %}
				<li><a href="{{ pagination.next.link }}">{{ __('Next', 'starter-theme') }}</a></li>
			{% else %}
				<li><button disabled>{{ __('Next', 'starter-theme') }}</button></li>
			{% endif %}

			{% if (pagination.pages|last) and pagination.pages|last.current != true %}
				<li><a href="{{ pagination.pages|last.link }}">{{ __('Last', 'starter-theme') }}</a></li>
			{% else %}
				<li><button disabled>{{ __('Last', 'starter-theme') }}</button></li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
