<article id="tease-{{ post.id }}">
	{% block content %}
		<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
		<p>{{ post.excerpt|raw }}</p>
		{% if post.thumbnail %}
			<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt|default(post.title) }}" />
		{% endif %}
	{% endblock %}
</article>
