<!DOCTYPE html>
<html {{ site.language_attributes|raw }}>
	{% block head %}
		{% include 'partials/head.twig' %}
	{% endblock %}

	<body class="{{ body_class }}">
		{{ function('wp_body_open')|raw }}
		<a href="#content">{{ __('Skip to content', 'starter-theme') }}</a>

		<header>
			{% block header %}
				<div>
					<a href="{{ site.url }}">{{ site.name }}</a>
					<nav>
						{% include 'partials/menu.twig' with {
							items: menu.get_items
						} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<main id="content">
			{% block content %}
				{{ __('Sorry, no content', 'starter-theme') }}
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'partials/footer.twig' %}
		{% endblock %}
		{{ function('wp_footer')|raw }}
	</body>
</html>
