{% extends 'layouts/base.twig' %}

{% block content %}
	<article id="post-{{ post.id }}">
		{% if post.thumbnail %}
			<img src="{{ post.thumbnail.src|resize(1200, 300) }}" alt="{{ post.thumbnail.alt|default(post.title) }}" />
		{% endif %}

		<h1>{{ post.title }}</h1>

		<p>
			{{ __('By', 'starter-theme') }}
			<a href="{{ post.author.path }}">{{ post.author.name }}</a>
			&bull;
			<time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
		</p>

		<div>{{ post.content|raw }}</div>

		<section>
			{% if post.comments %}
				<h3>{{ __('Comments', 'starter-theme') }}</h3>
				{% for cmt in post.comments %}
					{% include 'partials/comment.twig' with { comment: cmt } %}
				{% endfor %}
			{% endif %}

			{% if post.comment_status == 'closed' %}
				<p>{{ __('Comments for this post are closed', 'starter-theme') }}</p>
			{% else %}
				{% include 'partials/comment-form.twig' %}
			{% endif %}
		</section>
	</article>
{% endblock %}
