<!DOCTYPE html>
<html {{ site.language_attributes|raw }}>
	{% block head %}
		{% include 'partials/head.twig' %}
	{% endblock %}

	<body class="{{ body_class }} flex flex-col min-h-screen">
		{{ function('wp_body_open')|raw }}
		<a class="sr-only focus:not-sr-only" href="#content">{{ __('Skip to content', 'wp-twalp') }}</a>

		<header
			x-data="{ scrolled: false }"
			x-on:scroll.window="scrolled = window.scrollY > 10"
			:class="scrolled ? '[box-shadow:0_4px_6px_-1px_rgba(0,0,0,.1)]' : '[box-shadow:0_4px_6px_-1px_rgba(0,0,0,0)]'"
			class="fixed top-0 left-0 right-0 z-50 h-20 bg-background backdrop-blur-sm transition-all duration-300"
		>
			{% block header %}
				<div class="mx-auto flex h-full max-w-7xl items-center justify-between px-6">
					<a href="{{ site.url }}" class="text-lg font-bold text-foreground">{{ site.name }}</a>
					<nav>
						{% include 'partials/menu.twig' with {
							items: menu.get_items
						} %}
					</nav>
				</div>
			{% endblock %}
		</header>

		<main id="content" class="flex flex-1 pt-20">
			{% block content %}
				{{ __('Sorry, no content', 'wp-twalp') }}
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'partials/footer.twig' %}
		{% endblock %}
		{{ function('wp_footer')|raw }}
	</body>
</html>
